/target
/build/
/dist/
.idea/
/.claude/
/.planning/
/.trae/
/my-winisland-plugin/
Page/node_modules/
Page/dist/
Page/.vitepress/cache
Page/*.tsbuildinfo
Page/vite.config.js
Page/vite.config.d.ts
/release_notes.txt
target/identity-dev/
Page/changelog.md
Page/zh/changelog.md
